body{
    background-color: #b0b7c6;
}
div{
    width: 900px;
    margin: auto;
    background-color: #ccccff
}
img{
    width: 200px;
    height: 250px;
    float: left;
    margin: 10px;
    border: solid 1px snow;
}
h2{
    text-align: center
}
h3{
    margin-left: 20px
}
hr{
    float: none;
}